
#map {
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}

ion-back-button {
    --min-width: 48.3px;
    --min-height: 48.3px;
    --margin-end: 0;
    --icon-margin-start: 0;
    --icon-margin-end: 0;
}
